.main {
    
}

.main .tr:hover {
    transform: scale(1.01);
}

.main .create {
    box-shadow: 0 2px 5px 0 #00000060;
}

.main .create:hover {
    box-shadow: 0 2px 8px 0 #00000030;
    transform: translateY(-1px);
}